@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    display: flex;
    flex-flow: column nowrap;
    
}

header > h1 {
    text-align: center;
    margin: 20px;
    
}  

nav {
 display: flex;  
 flex-flow: row nowrap;
 justify-content: space-around;
 align-items: center;
 background-color: white;
 height: 30px;
}

nav > a {
    text-decoration: none;
    color: brown;
}

